@import url(../css/pixel_font.css);
@import url(../css/styled_scrollbar.css);
@import url(../css/context.css);

html, body {
	font: 16px pixel-op, sans-serif;
	width: 100%;
	height: 100%;
	margin: 0;
	touch-action: none;
	position: fixed;
}

body {
	background-color: #d1d1d1;
	background-image: url(../img/unloaded.png);
	background-size: 16px;
}

html {
	user-select: none;
}

hr {
	border-color: rgba(0, 0, 0, 0.2);
}

.hide {
	display: none!important;
}

.selectable {
	user-select: text;
}

.centered {
	position: absolute;
	padding-top: 1px; /* fix captcha window not being pixel perfect */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.centeredChilds {
	display: flex;
	justify-content: center;
	align-items: center;
}

.tooltip {
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.9;
}

.owopdropdown {
	pointer-events: none!important;
	padding: 0!important;
	padding-top: 1px!important;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	border: none!important;
	background-color: rgba(0, 0, 0, 0)!important;
	transition: transform 0.5s ease-out;
}
button.winframe:active {
	border-image: inherit;
}

.whitetext, #xy-display, #chat, #dev-chat, #playercount-display, #topright-displays > * {
	color: #FFF;
	font: 16px pixel-op, sans-serif;
	text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

img, #tool-select {
	image-rendering: pixelated;
}

#load-scr {
	position: absolute;
	height: 100%;
	width: 100%;
	text-align: center;
	font: 0/0 a;
	pointer-events: none;
	transition: transform 1.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
	background-image: url(../img/unloaded.png);
	box-shadow: 0 0 5px #000;
}

#load-scr:before {
	content: ' ';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

#load-ul {
	display: inline-block;
	vertical-align: middle;
	list-style-type: none;
	padding: 0;
	margin: 0;
	max-width: 50%;
	min-width: 224px;
	pointer-events: initial;
	transition: transform 1s;
}

#noscript-msg, #status {
	font: 16px pixel-op;
}

#status-msg {
	vertical-align: super;
	text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000, 0 0 2px #000;
}

#spinner {
	margin-right: 8px;
}

#viewport, #windows, #animations {
	position: absolute;
}

#windows {
	pointer-events: none;
	width: 100%;
	height: 100%;
}

#windows > div, .winframe { /* Frame */
	position: absolute;
	pointer-events: initial;
	background-color: #aba389;
	border: 11px #aba389 solid;
	border-width: 11px;
	border-image: url(../img/window_out.png) 11 repeat;
	border-image-outset: 1px;
	box-shadow: 0px 0px 5px #000;
}
#windows > div > span { /* Title */
	display: block;
	pointer-events: none;
	margin-top: -7px;
	text-shadow: 1px 1px #4d313b;
	color: #7e635c;
	margin-bottom: 3px;
	min-width: 100%;
	text-align: center;
}
.windowCloseButton { /* Close button */
	position: absolute;
	right: 0;
	top: -2px;
	width: 9px;
	height: 9px;
	padding: 0;
	background-image: url(../img/gui.png);
	background-position: -48px -32px;
	background-color: #ff7979;
	border: none;
}
button.windowCloseButton:active {
	background-image: url(../img/gui.png);
	background-position: -48px -41px;
}
.wincontainer { /* Item container of windows */
	overflow: auto;
	min-width: 100%;
	/* width: 0;  Older browsers fix */
	height: 100%;
	margin: 0 -5px -5px -5px;
	background-color: #7e635c;
	border: 5px #7e635c solid;
	border-width: 5px;
	border-image: url(../img/window_in.png) 5 repeat;
}
#windows > div > div > input {
	border: 6px #7e635c solid;
	border-image: url(../img/small_border.png) 6 repeat;
	border-image-outset: 1px;
}
#windows > div > div > * {
	box-sizing: border-box;
}

button {
	border: 6px #aba389 outset;
	border-image: url(../img/button.png) 6 repeat;
	background-color: #aba389;
	transition: filter 0.125s;
}
button:hover {
	filter: brightness(110%);
	transition: filter 0.125s;
}
button:active {
	border-style: inset;
	border-image: url(../img/button_pressed.png) 6 repeat;
	filter: brightness(90%);
	transition: none;
}
button:focus {
	outline: none;
}

#clusters > canvas {
	position: absolute;
	background-image: url(../img/unloaded.png);
	background-size: 8px;
}

#animations {
	top: 0;
	left: 0;
}
#xy-display, #palette {
	position: absolute;
}
#xy-display, #playercount-display, #palette, #topright-displays > * {
	pointer-events: none;
	transform: translateY(-100%);
	transition: transform 0.75s;
}
#topright-displays {
	position: absolute;
	pointer-events: none;
}
#xy-display {
	padding-left: 2px;
	left: -4px;
	top: -4px;
}
#topright-displays {
	right: -4px;
	top: -4px;
}

#topright-displays > * {
	display: inline-block;
	min-height: 8px;
}

#topright-displays:not(.hideui) #dinfo-display[data-pm]:not([data-pm="1"]) {
	transform: initial;
}

#dinfo-display::after {
	content: '' attr(data-pm) 'x boost for ' attr(data-tmo) '!';
}

#toole-container {
	overflow: hidden;
}
#playercount-display, #xy-display, #palette-create, #palette, .framed {
	border: 5px #aba389 solid;
	border-image: url(../img/small_border.png) 5 repeat;
	border-image-outset: 1px;
	background-color: #7e635c;
	box-shadow: 0px 0px 5px #000;
}
#toole-container > button > div {
	/* ugly */
	position: fixed;
	margin: -18px -4px;
	width: 36px;
	height: 36px;
}
#toole-container > button {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 40px;
	padding: 0;
}
#toole-container > button.selected {
	background-color: #aaa;
}

#tool-select > button > div {
	position: absolute;
	width: 36px;
	height: 36px;
	margin-left: 50%;
	transform: translate(-50%, -50%);
}

#palette {
	right: -5px;
	top: 50%;
	transform: translateY(-50%) translateX(200%);
	width: 45px;
	height: 40px;
	box-sizing: border-box;
}
#palette-bg {
	position: absolute;
	height: 100%;
	width: 44px;
	top: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.3);
	pointer-events: none;
}
#palette-create {
	position: absolute;
	right: 50px;
	top: 50%;
	transform: translateY(-50%);
	width: 24px;
	height: 24px;
	box-sizing: border-box;
	background-image: url(../img/plus.png);
	background-repeat: no-repeat;
	pointer-events: all;
}
#palette-input {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0;
	cursor: pointer;
}
#palette-colors {
	position: absolute;
	left: -1px;
	top: -9px;
	transition: transform 0.2s ease-out;
}
#palette-colors > div {
	width: 32px;
	height: 32px;
	margin: 8px 0;
	border: 1px solid rgba(0, 0, 0, 0.3);
	box-sizing: border-box;
	pointer-events: all;
	cursor: pointer;
}

#player-list {
	max-height: 300px;
	overflow-y: scroll;
}
#player-list > table {
	border-collapse: collapse;
	border: 1px solid #000;
	color: #fff;
	text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
	padding: 2px;
}
#player-list > table > tr:nth-child(odd) {
	background-color: rgba(0, 0, 0, 0.1);
}
#player-list > table > tr:nth-child(even) {
	background-color: rgba(0, 0, 0, 0.3);
}
#player-list > table > tr:first-child {
	text-align: left;
	background-color: rgba(0, 0, 0, 0.5);
}
#player-list td, #player-list th {
	padding: 2px 6px;
}
#player-list > table > tr > td:nth-child(1) {
	border-right: 1px solid rgba(0, 0, 0, 0.5);
}
#player-list > table > tr > td:nth-child(2) {
	border-right: 1px solid rgba(0, 0, 0, 0.3);
}

#help-button {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0;
	margin: 16px;
}
#help-button > img {
	width: 64px;
	display: block;
}

#help {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	max-width: 800px;

	background-color: #aba389;
	border: 11px #aba389 solid;
	border-width: 11px;
	border-image: url(../img/window_out.png) 11 repeat;
	border-image-outset: 1px;
	box-shadow: 0px 0px 5px #000;
}
#help > .title {
	display: block;
	pointer-events: none;
	margin-top: -7px;
	text-shadow: 1px 1px #4d313b;
	color: #7e635c;
	margin-bottom: 3px;
	min-width: 100%;
	text-align: center;
}
#help > .content {
	overflow: auto;
	min-width: 100%;
	/* width: 0;  Older browsers fix */
	height: 100%;
	margin: 0 -5px -5px -5px;
	background-color: #7e635c;
	border: 5px #7e635c solid;
	border-width: 5px;
	border-image: url(../img/window_in.png) 5 repeat;
}
#help > .content > .links {
	text-align: center;
}
#help > .content > .links > * {
	display: inline-block;
	vertical-align: middle;
	width: 76px;
}
#help > .content > .links > * img {
	width: 100%;
}
#help.hidden {
	display: none;
}

#chat {
	transform: translateY(100%);
}

#chat, #dev-chat {
	position: absolute;
	right: 0;
	bottom: 0;
	min-width: 20%;
	max-width: 450px;
	/* max-height: 40%; // causes problems on old browsers */
	display: flex;
	font-family: pixel-op, monospace;
	flex-direction: column;
	background-color: transparent;
	pointer-events: none;
	overflow: hidden;
	transition: background-color 0.2s, box-shadow 0.2s, transform 0.75s;
	animation-fill-mode: forwards;
}
#dev-chat {
	left: 0;
	right: initial;
}
#chat.active, #dev-chat.active {
	background-color: rgba(0, 0, 0, 0.8);
	box-shadow: 0px 0px 5px #000;
	pointer-events: all;
	overflow-y: auto;
}

@keyframes fade {
	from { opacity: 1; }
	to { opacity: 0; }
}

#chat-messages > li {
	background-color: rgba(0, 0, 0, 0.8);
	animation-name: fade;
	animation-duration: 3s;
	animation-delay: 15s;
	animation-fill-mode: forwards;
	transition: background-color 0.2s;
	white-space: pre-wrap;
}
#chat-messages > li a:link { color: #82c9ff; }
#chat-messages > li a:visited { color: #ab80f9; }
#chat-messages > li a:hover { color: #76b0dc; }
#chat-messages > li > .nick {
	color: #3ab2ff;
}
#chat-messages > li.moderator {
	color: #86ff41;
}
#chat-messages > li.admin {
	color: #ff4f4f;
}
#chat-messages > li.discord > .nick {
	color: #6cffe7;
}
#chat-messages > li.server {
	color: #ff41e4;
}
#chat-messages > li.tell, #chat-messages > li > .tell {
	color: #ffb735;
}
#chat-messages .emote {
    	max-width: 1.375em;
   	max-height: 1.375em;
    	vertical-align: bottom;
    	image-rendering: auto;
}

#chat-messages.active > li {
	background-color: initial;
	animation-duration: 0s;
	animation-direction: reverse;
}

#chat-messages, #dev-chat-messages {
	flex: 1;
	margin: 0;
	padding: 0;
	font-size: 16px;
	max-height: 40vh;
	word-wrap: break-word;
	overflow: inherit;
	vertical-align: bottom;
}
#chat-input {
	flex: 0 1 auto;
	height: 16px;
	color: #FFF;
	pointer-events: all;
	border: 1px solid #666;
	padding: 4px;
	background: rgba(0, 0, 0, 0.8);
	font-family: pixel-op, sans-serif;
	font-size: 16px;
	resize: none;
	overflow-y: scroll;
	display: none;
}
#chat-input:focus {
	outline: none;
}

#chat-input::placeholder {
	color: #BBB;
}

#captchawdow {
	margin: -4px;
}
