@import url(/css/pixel_font.css);
@import url(/css/styled_scrollbar.css);

@import url(/css/global.css);
@import url(/css/load_screen.css);
@import url(/css/chat.css);

@import url(/css/windows.css);

html, body {
	font: 16px pixel-op, sans-serif;
	width: 100%;
	height: 100%;
	margin: 0;
	touch-action: none;
	position: fixed;
	user-select: none;
}

body {
	background-color: #d1d1d1;
	background-image: url(/img/unloaded.png);
	background-size: 16px;
}

#user {
	position: absolute;
	top: 0;
	right: 0;
	margin: 10px;
	font-size: 0;
}
#help-button {
	line-height: 28px;
	padding: 0 10px;
	margin-right: 10px;
	color: #fff;
	font-weight: bold;
	outline: none;
	background-color: #483a98;
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 2px;
}
#signin {
	line-height: 28px;
	padding: 0 12px;
	color: #fff;
	font-weight: bold;
	outline: none;
	background-color: #4285f4;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 2px;
}
